.background
{   height:945px;
	width: 100%;
	object-fit: cover;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	z-index:-1;
}

.type
{
	font-size:40px;
}
.type2
{
	font-size:20px;
	position:absolute;
	top:40px;
}
.square{
  position: relative;
  width: 772px;
  height: 776px;
}
.square-inner{
  position: absolute;
  top: 32px;
  left: 22px;
  width: 100%;
  height: 100%; /* 铺满父元素容器，这时候宽高就始终相等了 */
}
.square-inner>li{
  width: calc(98% / 3);  /* calc里面的运算符两边要空格 */
  height: calc(98% / 3);
  margin-right: 2px;
  margin-bottom: 0px;
  overflow: hidden;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex>li{
  flex-grow: 1; /* 子元素按1/n的比例进行拉伸 */
  background-color: rgba(137,137,137,0.40);
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 2;
}
.flex>li:nth-of-type(3n){ /* 选择个数是3的倍数的元素 */
  margin-right: 0;
}
.flex>li:nth-of-type(n+7){  /* 选择倒数的三个元素，n可以取0 */
  margin-bottom: 0;
}
