.card1
{
	background-color: rgba(255,255,255,0.5) ;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	/*样式*/
	
	position:absolute;
	width: 900px;
	height: 700px;
	top:210px;
	left:960px;
	z-index: -1;
	/*位置大小*/
}