
.grid-show {
    border: #999 1px solid;
    /* border-top: #999 1px solid; */
    width: 80px;
    height: 80px;
    text-align: center;
    LINE-height: 40px;
}

.grid-input {
    border: #443 2px solid;
    font-size: 16px;
    width: 70px;
    height: 70px;
    text-align: center;
}

